.images {
  position: relative;
}
.images_block {
  position: absolute;
  bottom: 30px;
  left: 41px;
}
.images_block button {
  border-radius: 30px;
  border: 0;
  padding: 2px 7px;
  font-weight: bold;
  font-family: cursive;
}
.images_block p {
  margin: 0;
  background-color: white;
  border: 0;
  padding: 2px 7px;
  margin-top: 5px;
  border-radius: 30px;
  font-weight: bold;
}

.images_delBtn {
  background-color: transparent;
  border: 0;
  font-weight: bold;
}
