.character_block {
  background-color: #fffaf5;
  display: flex;
  justify-content: left;
  padding: 30px;
}

.character_inf {
  padding-left: 25px;
}

.character_inf p,
a {
  color: black;
  text-decoration: none;
}

.character_inf h1 {
  color: black;
  margin: 0;
}
