.header {
  background-color: #262c3a;
  /* border-bottom: 1px solid white; */
}
.header p,
a,
h1 {
  color: aliceblue;
}
.header_block {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid white;
}

.header_block_episodes {
  position: relative;
}

.header_block_episodes a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-decoration: none;
  color: aliceblue;
}

.header_description h1 {
  text-align: center;
  margin: 0 auto;
  padding: 50px 0;
  font-size: 65px;
}
.header_description p {
  max-width: 900px;
  margin: 0 auto;
  padding-bottom: 40px;
}
@media (max-width: 1040px) {
  .header_block {
    display: none;
  }
  .header p {
    display: none;
  }
  .header h1 {
    font-size: 20px;
    margin: 0;
  }
}
