.header {
  background-color: #262c3a;
}
.header p,
a,
h1 {
  color: aliceblue;
}
.header_block {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0;
  border-bottom: 1px solid white;
}
.header_navigation_block {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 130px);
  padding-top: 17px;
}
.header_btn_contact {
  padding-top: 17px;
}
.header_btn_contact button {
  background-color: #1d213d;
  border: solid 1px aliceblue;
  border-radius: 3px;
  color: aliceblue;
  font-family: cursive;
  padding: 1px 25px;
  font-weight: bold;
}
.header a p {
  float: right;
}
.header_description h1,
p {
  text-align: center;
}
.header_description p {
  max-width: 900px;
  margin: 0 auto;
  padding-bottom: 40px;
}
@media (max-width: 1040px) {
  .header_block {
    display: none;
  }
  .header p {
    display: none;
  }
  .header h1 {
    font-size: 20px;
    margin: 0;
  }
}
