.location {
  list-style-type: none;
}

.location_title {
  padding-left: 30px;
}

.location h1,
p {
  color: black;
}

.location_hr {
  margin: 0;
  padding: 0;
  height: 0;
  border: none;
  border-top: 2px dotted #ddd;
}
